

<h1>Welcome to the PierreTreats!</h1>
<p>@Html.ActionLink("create and See all flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("create and See all Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Create an account or log in", "Index", "Account")</p>